@import '../../styles/mixins';

.home-detail-view {
  max-width: 60vw;
  max-height: 40vh;
  width: 60vw;
  height: 40vh;
  background-color: #fff;
}

.detail-grid {
  display: flex;
}

.detail-button {
  margin-left: 16px;
  margin-bottom: 16px;
  width: 100px;
}